/*
 * Classes
 */

.vertical-center {
	display: flex;
	height: 100vh;
}

/*
 * IDs
 */

#journal-canvas {
	border: 1px solid #DDDDDD;
	width: 1502px;
	height: 752px;
	display: block;
	margin: auto;
}