body {
	background-color: var(--timberwolf);
}

/*
 * Classes
 */

.material-icons, .zmdi, .fa{
	font-size: 3em;
    float: right;
    cursor: pointer;
    user-select: none;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 8px;
}

.edit-menu {
	display: none;
}

/*
 * IDs
 */

#journal-canvas {
	border: 1px solid #DDDDDD;
	width: 100vw;
	height: 100vh;
	display: block;
	margin: auto;
	cursor: text;
}

#edit-menu-container {
	z-index: 999;
	position: absolute;
	bottom: 0;
	right: 0;
}

#sub-menu-container {
	z-index: 999;
	position:absolute;
	bottom: 88px;
	right: 88px;
}

#return {
	display: none;
}

#profile, #edit-root, #return {
	font-size: 4em;
	line-height: 1.2em;
}
