body {
	background-color: #F6F6FD;
}


input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
}

button {
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	padding: 8px;
	max-width: 385px !important;
    margin-left: 15px;
}

button:hover {
	background-color: #4caf50;
	opacity: 0.8;
}

label {
	text-shadow: 0 0 10px white;
}

/*
 * IDs
 */
#form {
	background: #F6F6FD url('../images/cover_transparent.png') no-repeat fixed center;
	height: 100vh;
}

#register, #goToLogin, #login, #cancelLogin, #switch-to-login {
	max-width: 420px;
	max-height: 620px;
	padding-right: 100px;
}

#login {
	display: none;
}

#cancelLogin {
	display: none
}

#switch-to-login {
	background-color: #4123FF;
	margin-top: 80px;
}

/*
 * Classes
 */
.cancel {
	background-color: #f44336;
}

.cancel:hover {
	background-color: #f44336;
	opacity: 0.8;
}

.vertical-center {
	display: flex;
	flex-direction: column;
    align-items: initial;
    padding-top: 5%;
}

.vertical-center form {
    max-width: 320px;
}
