input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
}

button {
	background-color: #c78283;
	color: white;
	border: none;
	cursor: pointer;
	padding: 8px;
	max-width: 385px !important;
    margin-left: 15px;
}

button:hover {
	opacity: 0.8;
}

label {
	text-shadow: 0 0 10px white;
}

/*
 * IDs
 */
#form {
	background: var(--outer-space) url('../images/cover_transparent.png') no-repeat fixed center;
	height: 100vh;
}

#register, #goToLogin, #login, #cancelLogin, #switch-to-login {
	max-width: 420px;
	max-height: 620px;
	padding-right: 100px;
}

#login {
	display: none;
}

#cancelLogin {
	display: none
}

#switch-to-login {
	color: black;
	background-color: var(--timberwolf);
}

/*
 * Classes
 */
.cancel {
	background-color: #e5eafa;
}

.vertical-center {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.vertical-center form {
    max-width: 320px;
}
