body {
	font-family: helvetica, arial, sans-serif;
}

#login {
	text-align: center;
	bhackground: #e3e3e3;
	border: 1px solid #CFCFCF;
	min-height: 330px;
	_height: 330px;
	width: 705px;
	position: absolute;
	left: 50%;
	margin-left: -352px;
	top: 50%;
	margin-top: -165px;
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
	_height: 100%;
}
